# .coveragerc to control coverage.py
[run]
plugins = Cython.Coverage
omit =
    tests/*
    conda/*
concurrency =
    multiprocessing
    thread

[report]
ignore_errors = True

[html]
directory = coverage_html_report
