# .coveragerc to control coverage.py
[run]
omit =
    $PWD/tests/*
    $PWD/scripts/*
concurrency =
    multiprocessing
    thread

[report]
ignore_errors = True

[html]
directory = coverage_html_report
