# .coveragerc to control coverage.py
[run]
omit =
    tests/*
    conda/*
    scripts/tests/*
concurrency =
    multiprocessing
    thread

[report]
ignore_errors = True

[html]
directory = coverage_html_report
